.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2000;
}

#login {
    display: none;
}

.tabNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.fas {
    font-size: 1.6em;
}

.fabtn {
    color: #607D37;
}

.fabtn:hover{
    cursor: pointer;
}

.head {
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background: #375A28;
}

body{
    margin: 0;
    background-color: #f9f9f9;
}

.is-fluid {
    margin-left: 20px;
    margin-right: 20px;
}

.mt {
    margin-top: 15px;
}

#signupForm {
    display: none;
}

#home {
    display: none;
}

.hide {
    display: none;
}

#camera {
    display: none;
}

#search {
    display: none;
}

#community {
    display: none;
}

#profile {
    display: none;
}

#tabNav {
    display: none;
}

.full-img {
    border-radius: 5px;
    width: 90%;
}

#loginNotification {
    display: none;
    padding: 10px;
    border-radius: 0;
}

#profileEdit {
    display: none;
}

.is-fluid {
    overflow-y: scroll;
}

#tabNav {
    z-index: 10;
}
.buff {
    height: 100px;
}
#noGeo {
    display: none;
}
#profMap {
    display: none;
}
#blockedGeo {
    display: none;
}

.leaflet-marker-icon:not(:hover) {
    z-index: 0 !important;
}

#pMap {
    height: 240px;
    min-width: 100%;
}

#noAccess {
    display: none;
}

#frameCanvas {
    display: none;
    min-width: 100%;
}

.file-margin {
    margin-left: 30px;
    margin-top: 20px;
}

#mediaAccess {
    text-align: center;
}

#takePhoto {
    font-size: 90px;
    margin-top: 40px;
    margin-right: 20px;
    color: #90AD56;
}
.m{
    margin-left: 20px;
    margin-right: 20px;
}

#imageTaken, #uploadProgress {
    display: none;
}
.sightImg {
    margin-top: -10px;
    margin-bottom: -10px;
}

.-m {
    margin: 0;
}

#postAnimal {
    display: block;
}

#searchDiv {
    min-height: 100%;
}

#searchBody {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.ui-autocomplete { 
    cursor: default;
    z-index:1200 !important;
}  


#comWiki, #comID, #qDiv {
    display: none;
}

.nbr {
    border-radius: 0;
}

.mb {
    margin-bottom: 20px;
}

#addQDiv {
    display: none;
}

.link {
    text-decoration: none;
    color: #375A28;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.card {
    box-shadow:0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
}

#wikiEditorDiv, #makeWiki{
    display: none;
}